# Disable Directory Browsing
Options All -Indexes

RewriteEngine On
# Options -MultiViews
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]


 #FallbackResource /404.php
